/*-----------------------------------*\
 * #SKILLS - Updated
\*-----------------------------------*/

.skills { 
    padding-block: var(--section-padding); 
    background-color: var(--bg-secondary); /* Added background color */
    border-radius: var(--radius-12); /* Added border radius */
    box-shadow: var(--shadow-1); /* Added box shadow */
  }
  
  .skills-content { 
    margin-bottom: 50px; 
    color: var(--color-primary); /* Updated text color */
  }
  
  .skills-toggle {
    background: var(--bg-primary); /* Updated background color */
    position: relative;
    width: max-content;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 100px;
    box-shadow: var(--shadow-1);
    z-index: 1;
  }
  
  .skills-toggle::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    width: 93px;
    background: var(--raw-seinna);
    border-radius: 100px;
    transition: var(--transition-1);
    z-index: -1;
  }
  
  .skills-toggle.active::before {
    left: 98px;
    width: 94px;
  }
  
  .toggle-btn {
    color: var(--color-primary); /* Updated text color */
    font-family: var(--ff-poppins);
    padding: 5px 25px;
    transition: var(--transition-1);
  }
  
  .toggle-btn.active { color: var(--white); }
  
  .skills-box.active .skills-list,
  .skills-box .tools-list { display: none; }
  
  .skills-box .skills-list,
  .skills-box.active .tools-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    animation: fadeIn 0.5s ease-out forwards;
  }
  
  .skill-card {
    position: relative;
    background: var(--bg-primary); /* Updated background color */
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    border-radius: var(--radius-12);
    box-shadow: var(--shadow-1);
    cursor: help;
  }
  
  .skill-card:hover .tooltip {
    transform: translateY(0);
    opacity: 1;
  }
  