@import "../../../data/styles.css";
.social,
.email-wrapper {
	display: flex;
	padding-bottom: 20px;
	padding-left: 5rem;
}
.social{
	padding-left: 5rem;
}
.social a,
.email-wrapper a {
	text-decoration: none;
}

.social-icon {
	font-size: 15px;
	color: #000000;

}
.social-icon .hover{
	font-size: 15px;
	color: #0cff9a;
	
}

.social-text {
	color: #000000;
	padding-left: 30px;
	margin-top: -20px;
	font-weight: 600;
	font-size: 14px;
}

.email::before {
	display: block;
	padding-top: 20px;
	border-top: 3px solid #f8c567;
	margin-top: 20px;
	padding-left: 20rem;
}

.email-wrapper {
	padding-top: 20px;
}
