@import "../../../data/styles.css";

.contacts-body {
	margin-bottom: 10px;
}

.contact {
	display: flex;
	padding-bottom: 40px;
}

.contact-image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    outline: 6px solid rgb(255, 255, 255);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.25);
    object-fit:scale-down; /* This will make the image cover the entire content box */
    display: block; /* To ensure the image is treated as a block-level element */
    overflow: hidden; /* To hide any part of the image that might overflow the circular container */
}

.contact-title {
	font-size: 15px;
	font-weight: 700px;
	padding-left: 20px;
	margin-top: -3px;
	color: var(--secondary-color);
}

.contacts-subtitle {
	position: absolute;
	font-size: 12px;
	color: var(--secondary-color);
	padding-top: 22px;
	padding-left: 50px;
}




