.contact-info-item {
    padding: 2rem;
    background-color: #e9dddd;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  
  .contact-info-item .icon {
    color: #ffff;
    background-color: #4b4949;
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .contact-social-item{
  padding: 2rem;
    background-color: #5e5a5a;
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
  }
  .contact-social-item .icon {
    color: #ffff;
    background-color: #ffffff;
    padding: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }
  .ptexts{
    color: #ffff;
  }
