.contact-section {
    padding: 10rem 0;
  }
  
  .contactSection__wrapper {
    display: flex;
    gap: 5rem;
    margin-top: 7rem;
    justify-content: space-between;
    position: relative;
  }
  
  .contactSection__wrapper::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    background-color:#1E1E1E;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .left {
    width: 100%;
    max-width: 500px;
  }
  
  .right {
    max-width: 500px;
    width: 100%;
    border-radius: 12px;
  }
  
  @media only screen and (max-width: 768px) {
    .contactSection__wrapper {
      flex-direction: column;
    }
  
    .contactSection__wrapper::after {
      display: none;
    }
  
    .left,
    .right {
      max-width: 100%;
    }
  
    .right {
      padding: 4rem 2rem 2rem 2rem;
    }
  }
  