@import "../../../data/styles.css";

.nav-container {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 3vh;
	z-index: 999;
}

.nav-background {
	width: 500px;
	height: 50px;
	padding-left: 0%;
	padding-right: 0%;
	background: #ffffff ;
	box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.1);
	border-radius: 40px;
	border: #000000;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	align-items: center;
	margin-left: -16px;
	margin-right: 20px;
	margin-top: 15px;
	font-family: 'RobotoMono Regular';
}

.nav-item {
	
	font-size: 100%;
}

.nav-item.active a {
	color: var(--toplink-color) !important;
}

.nav-item a {
	text-decoration: none;
	color: #000000;
}

.nav-item a:hover {
	color: var(--toplink-color);
	transition: color 0.3s ease-in-out;
}

@media (max-width: 600px) {
	.navbar {
		margin-left: 25%;
		margin-right: 25%;
		width: 80%;
		font-size: 80%;
	}

	.nav-background {
		width: 80%;
		height: 40px;
	}

	.nav-item {
		font-weight: bold;
	}
}
.hero-social-list {
    display: block;
    position: absolute;
    bottom: 92px;
    left: -30px;
  }